# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
dist/
web-build/

# Go
backend/backend.exe
backend/backend
*.exe
*.test

# Environment Variables
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db
